﻿<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Accountant Dashboard</title>
    <link rel="icon" href="alpha.ico.png" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="assets/plugins/charts-c3/plugin.css" />

    <link rel="stylesheet" href="assets/plugins/morrisjs/morris.min.css" />

    <link rel="stylesheet" href="/assets/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/assets/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/assets/js/log/toaster.js"></script>

    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <style>
        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }
    </style>
</head>

<body class="theme-blush">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="/assets/images/steer.png" width="48" height="48"
                    alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Right Icon menu Sidebar -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" style="text-align: center;" id="exampleModalLabel">If You Want
                        This Feature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-primary mt-3">
                        <a href="tel:+916381554238" style="text-decoration: none; color: white;"><i
                                class="fa fa-phone mr-2" aria-hidden="true"></i>Contact Us</a></button>
                    or <button type="button" class="btn btn-success mt-3">
                        <a href="https://wa.me/919171383841" target="_blank"
                            style="text-decoration: none; color: white;"><i class="fa fa-whatsapp mr-2"
                                aria-hidden="true"></i>Chat Us</a></button>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           -->
                </div>
            </div>
        </div>
    </div>
    <!-- Left Sidebar -->
    <%- include("common/sidebar.ejs"); -%>

        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs sm">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i
                            class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i
                            class="zmdi zmdi-comments"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="setting">
                    <div class="slim_scroll">
                        <div class="card">
                            <h6>Theme Option</h6>
                            <div class="light_dark">
                                <div class="radio">
                                    <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                    <label for="lighttheme">Light Mode</label>
                                </div>
                                <div class="radio mb-0">
                                    <input type="radio" name="radio1" id="darktheme" value="dark">
                                    <label for="darktheme">Dark Mode</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Color Skins</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                </li>
                                <li data-theme="blush" class="active">
                                    <div class="blush"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox rtl_support">
                                        <input id="checkbox1" type="checkbox" value="rtl_view">
                                        <label for="checkbox1">RTL Version</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox ms_bar">
                                        <input id="checkbox2" type="checkbox" value="mini_active">
                                        <label for="checkbox2">Mini Sidebar</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3">Notifications</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">Auto Updates</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">Offline</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked="">
                                        <label for="checkbox6">Location Permission</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane right_chat" id="chat">
                    <div class="slim_scroll">
                        <div class="card">
                            <ul class="list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Sophia <small
                                                        class="float-right">11:00AM</small></span>
                                                <span class="message">There are many variations of passages of Lorem
                                                    Ipsum available</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Grayson <small
                                                        class="float-right">11:30AM</small></span>
                                                <span class="message">All the Lorem Ipsum generators on the</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella <small
                                                        class="float-right">11:31AM</small></span>
                                                <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="me">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">John <small
                                                        class="float-right">05:00PM</small></span>
                                                <span class="message">It is a long established fact that a reader</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander <small
                                                        class="float-right">06:08PM</small></span>
                                                <span class="message">Richard McClintock, a Latin professor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main Content -->

        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home"><i class="zmdi zmdi-home"></i> CMC</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                                class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                                class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-accounts-alt">
                            <a href="/accusers">
                                <div class="body">
                                    <h6>Students</h6>
                                    <h2 id="customers">0</small></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-book">
                            <div class="body">
                                <h6>Courses</h6>
                                <h2 id="courses">0 </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-format-list-bulleted">
                            <div class="body">
                                <h6>Category</h6>
                                <h2 id="category">0</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-accounts">
                            <div class="body">
                                <h6>Visitors</h6>
                                <h2 id="visitors">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>Booking History</h6>

                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon sales">
                            <div class="body">
                                <h6>Till Now</h6>
                                <h2 id="phtn">0</small></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon sales">
                            <div class="body">
                                <h6> This Week</h6>
                                <h2 id="phweek">0 </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon sales">
                            <div class="body">
                                <h6>This Month</h6>
                                <h2 id="phmonth">0</h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon sales">
                            <div class="body">
                                <h6>This Year</h6>
                                <h2 id="phyear">0</h2>

                            </div>
                        </div>
                    </div>
                </div>
                <h6>Revenue Management</h6>

                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-money">
                            <div class="body">
                                <h6>Today</h6>
                                <h2 id="rvtd">0</small></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-money">
                            <div class="body">
                                <h6> This week</h6>
                                <h2 id="rvweek">0 </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-money">
                            <div class="body">
                                <h6>This month</h6>
                                <h2 id="rvmonth">0</h2>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-money">
                            <div class="body">
                                <h6>This Year</h6>
                                <h2 id="rvpweek">0</h2>

                            </div>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="header">
                                    <h2><strong><i class="zmdi zmdi-chart"></i> Analytics</strong> Report</h2>
                                    <ul class="header-dropdown">
                                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                                aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                                <li><a href="javascript:void(0);">Edit</a></li>
                                                <li><a href="javascript:void(0);">Delete</a></li>
                                                <li><a href="javascript:void(0);">Report</a></li>
                                            </ul>
                                        </li>
                                        <li class="remove">
                                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="body text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6>Enrolment Chart</h6>
                                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Revenue Chart</h6>
                                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button trigger modal -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel">If You Want This
                                            Feature</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <button type="button" class="btn btn-primary mt-3">
                                            <a href="tel:+916381554238" style="text-decoration: none; color: white;"><i
                                                    class="fa fa-phone mr-2" aria-hidden="true"></i>Contact
                                                Us</a></button>
                                        or <button type="button" class="btn btn-success mt-3">
                                            <a href="https://wa.me/919171383841" target="_blank"
                                                style="text-decoration: none; color: white;"><i
                                                    class="fa fa-whatsapp mr-2" aria-hidden="true"></i>Chat
                                                Us</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </div>
        </section>



        <!-- Jquery Core Js -->
        <script src="assets/bundles/libscripts.bundle.js"></script>
        <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
        <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

        <script src="assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="assets/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
        <script src="assets/bundles/c3.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="assets/bundles/mainscripts.bundle.js"></script>
        <script src="assets/js/pages/index.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase.js"></script>
        <script src="/assets/js/custom/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="/assets/js/custom/accdashboard.js"></script>

        <script>
            var userid = localStorage.getItem("userid")
            if (userid == undefined) {
                window.location.replace("/")
            }
        </script>

        <script>
            var db = firebase.firestore();
            allusers()
            async function allusers() {
                await db.collection("users").get().then((snap) => {
                    var users = []
                    snap.forEach((doc) => {
                        if (doc.data() !== undefined) {
                            users.push(doc.data())
                        }
                    })
                    var today = moment().format("YYYY-MM-DD")
                    var month = moment().format("MM")
                    var year = moment().format("YYYY")
                    var startOfweek = startOfWeek(new Date())
                    var startOfWeeks = moment(startOfweek).format("YYYY-MM-DD")
                    var previousweek = moment(startOfWeeks).subtract(7, "days").format("YYYY-MM-DD")
                    var userdates = []
                    for (var i = 0; i < users.length; i++) {
                        if (users[i] != undefined) {
                            var userdate = users[i].date.split(" ")[0]
                            console.log(month,startOfWeeks)
                            if ((userdate >= startOfWeeks) && (userdate <= today)) {
                                userdates.push(userdate)
                            }
                        }

                    }
                    var originaluserdate = [...new Set(userdates)]
                    var farmatdates = originaluserdate.sort((a, b) => {
                        return new Date(a) - new Date(b);
                    })
                    var userdatescount = []
                    for (var i = 0; i < originaluserdate.length; i++) {
                        var datecount = userdates.filter((datesfinal) => { return datesfinal == originaluserdate[i] })
                        userdatescount.push(datecount.length)
                    }
                    var xValues = originaluserdate;
                    var yValues = userdatescount
                    new Chart("myChart", {
                        type: "line",
                        data: {
                            labels: xValues,
                            datasets: [{
                                fill: false,
                                lineTension: 0,
                                backgroundColor: "rgba(0,0,255,1.0)",
                                borderColor: "rgba(0,0,255,0.1)",
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            scales: {
                                yAxes: [{ ticks: { min: 0, max: 16 } }],
                            }
                        }
                    });
                })
            }

            purchasecourses()
            async function purchasecourses() {
                var today = moment().format("YYYY-MM-DD")
                var month = moment().format("MM")
                var year = moment().format("YYYY")
                var startOfweek = startOfWeek(new Date())
                var startOfWeeks = moment(startOfweek).format("YYYY-MM-DD")
                var previousweek = moment(startOfWeeks).subtract(7, "days").format("YYYY-MM-DD")
                await db.collection("purchasecourses").get().then(async (snap) => {
                    var purchasecourses = []
                    snap.forEach((doc) => {
                        if (doc.data() !== undefined) {
                            var purchasecourse = doc.data()
                            var date = doc.data().date.split(" ")[0]
                            purchasecourse["date"] = date
                            purchasecourses.push(purchasecourse)
                        }
                    })
                    var dateamount = []
                    for (var i = 0; i < purchasecourses.length; i++) {
                        if ((purchasecourses[i].date >= startOfWeeks) && (purchasecourses[i].date <= today)) {
                            dateamount.push(purchasecourses[i].date)
                        }
                    }
                    var originalamountdate = [...new Set(dateamount)]
                    var farmatdates = originalamountdate.sort((a, b) => {
                        return new Date(a) - new Date(b);
                    })
                    var finalamount = []
                    for (var i = 0; i < farmatdates.length; i++) {
                        var data = []
                        var useramounts = purchasecourses.filter((courses) => { return courses.date == farmatdates[i] })
                        for (var j = 0; j < useramounts.length; j++) {
                            data.push(useramounts[j].amount)
                        }
                        console.log(data)
                        var totalamount = data.reduce((a, b) => {
                            return Number(a) + Number(b)
                        })
                        finalamount.push(totalamount)
                    }
                    var xValues = farmatdates;
                    var yValues = finalamount
                    new Chart("myChart1", {
                        type: "line",
                        data: {
                            labels: xValues,
                            datasets: [{
                                fill: false,
                                lineTension: 0,
                                backgroundColor: "red",
                                borderColor: "red",
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            scales: {
                                yAxes: [{ ticks: { min: 0, max: 500000 } }],
                            }
                        }
                    });
                })

            }

            function startOfWeek(date) {
                var diff = date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1);
                return new Date(date.setDate(diff));
            }

        </script>

</body>

</html>