<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/plugins/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>
<style>
    td {
        padding: 5px !important;
    }
</style>

<body class="container">
    <a href="javascript:generatePDF()" class="btn btn-primary">Dowload Application</a>
    <div id="test" style="margin-top: 50px;">
        <div class="row text-center">
            <div class="col-md-2">
                <img src="/assets/images/cmc_logo.png" width="100" alt="" srcset="">
            </div>
            <div class="col-md-8">
                <h4>CMC MARITIME ACADEMY - CHENNAI</h4>
                <p>The Taj, Block C, No. 70, 3rd Floor, Ritherdon Road, Vepery,
                    Chennai 600 007.
                    Ph: 044 26431188, 26431199,
                </p>
                <span> Email : <a href="infochn@cmcacdemy.ac.in">infochn@cmcacdemy.ac.in</a></span> <br>
                <span> Website : <a href="www.cmcmaritimechennai.com">www.cmcmaritimechennai.com</a></span>
                <h5>POST SEA APPLICATION FORM</h5>
            </div>
            <div class="col-md-2">
                <span id="profilepic"></span>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="text-center"><b><b>PERSONAL DETAILS:</b> <br> (FURNISH EXACT DETAILS AND THE SAME WILL BE
                            PRINTED ON THE CERTIFICATE – WRITE
                            LEGIBLY)</b></td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:400px"><b>Name of the Applicant(in capital letters)</b></td>
                    <td id="username" style="text-transform: uppercase;">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:250px"><b>Date of Birth:</b></td>
                    <td style="width:250px" id="dateofbirth">-</td>
                    <td style="width:250px"><b>Place of Birth & State: </b></td>
                    <td style="width:250px" id="place">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:250px"><b>Phone No:</b></td>
                    <td style="width:250px" id="phonenumber">-</td>
                    <td style="width:250px"><b>Email Address: </b></td>
                    <td style="width:250px" id="email">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:300px"><b>Communication
                            Address</b></td>
                    <td id="address">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:300px"><b>Educational
                            Qualification:</b></td>
                    <td>-</td>
                </tr>
            </thead>
        </table>

        <table class="table table-bordered" style="margin-top: 15px;">
            <thead>
                <tr>
                    <td class="text-center"><b><b>PROFESSIONAL DETAILS (Copies to be Attached)</b></td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:250px"><b>Passport No:</b></td>
                    <td style="width:250px" id="passport">-</td>
                    <td style="width:250px"><b>Indos No: </b></td>
                    <td style="width:250px" id="indosnumber">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:250px"><b>Continuous Discharge
                            Certificate (CDC) :</b></td>
                    <td style="width:250px" id="discharge">-</td>
                    <td style="width:250px"><b>Rank: </b></td>
                    <td style="width:250px"></td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:250px"><b>Certificate of
                            Competency Grade:</b></td>
                    <td style="width:250px" id="grade">-</td>
                    <td style="width:250px"><b>Certificate of Competency
                            Grade No: </b></td>
                    <td style="width:250px" id="gradenumber">-</td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:150px"><b>Sea Service:</b></td>
                    <td style="width:150px"><b>Years:</b></td>
                    <td style="width:150px" id="years"><b>-</b></td>
                    <td style="width:150px"><b>Months:</b></td>
                    <td style="width:150px" id="month"><b>-</b></td>
                    <td style="width:150px"><b>Days:</b></td>
                    <td style="width:150px" id="day"><b>-</b></td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="margin-top: -15px;">
            <thead>
                <tr>
                    <td style="width:200px"><b>Courses applied for:</b></td>
                    <td id="courseitem"></td>
                </tr>
            </thead>
        </table>
        <div style="margin-top: 10px;">
            <h6 style="margin-top: 10px;">DECLARATION:</h6>
            <p>I hereby declare, to the best of my knowledge that the information given above are true. I am aware of
                the
                personal
                safety aspects while under training and that I do not suffer from any illness or disability that may
                hamper
                the various
                physical exercises to be carried out during the courses as part of its training programme. I confirm
                that I
                shall maintain
                strict discipline and adhere to all safety precautions during the course period. CMC Maritime Academy
                involved in the
                training will not be held responsible in any way or in wrong data mentioned by me, for any accident,
                injury
                or death
                during this course. </p>
        </div>
 

    </div>


</body>
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
<script src="/assets/js/custom/firebase.js"></script>
<script src="/assets/js/custom/application.js"></script>
<script>

</script>

</html>