<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>Gallery</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Light Gallery Plugin Css -->
    <link rel="stylesheet" href="assets/plugins/light-gallery/css/lightgallery.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/assets/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/assets/js/log/toaster.js"></script>
</head>
<style>
    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        width: 250px !important;
        height: 170px !important;
    }

    .delecticon {
        float: right;
        position: absolute;
        top: 17px;
        right: 34px;
        color: black;
        font-weight: bold;
        background-color: white;
        padding: 7px;
        border-radius: 50%;
    }

    .delecticon:hover {
        background-color: lightcyan;
    }
</style>

<body class="theme-blush">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/loader.svg" width="48" height="48"
                    alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>



    <%- include("common/sidebar.ejs"); -%>

        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs sm">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i
                            class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i
                            class="zmdi zmdi-comments"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="setting">
                    <div class="slim_scroll">
                        <div class="card">
                            <h6>Theme Option</h6>
                            <div class="light_dark">
                                <div class="radio">
                                    <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                    <label for="lighttheme">Light Mode</label>
                                </div>
                                <div class="radio mb-0">
                                    <input type="radio" name="radio1" id="darktheme" value="dark">
                                    <label for="darktheme">Dark Mode</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Color Skins</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                </li>
                                <li data-theme="blush" class="active">
                                    <div class="blush"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox rtl_support">
                                        <input id="checkbox1" type="checkbox" value="rtl_view">
                                        <label for="checkbox1">RTL Version</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox ms_bar">
                                        <input id="checkbox2" type="checkbox" value="mini_active">
                                        <label for="checkbox2">Mini Sidebar</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3">Notifications</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">Auto Updates</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">Offline</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked="">
                                        <label for="checkbox6">Location Permission</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane right_chat" id="chat">
                    <div class="slim_scroll">
                        <div class="card">
                            <ul class="list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Sophia <small
                                                        class="float-right">11:00AM</small></span>
                                                <span class="message">There are many variations of passages of Lorem
                                                    Ipsum available</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Grayson <small
                                                        class="float-right">11:30AM</small></span>
                                                <span class="message">All the Lorem Ipsum generators on the</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella <small
                                                        class="float-right">11:31AM</small></span>
                                                <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="me">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">John <small
                                                        class="float-right">05:00PM</small></span>
                                                <span class="message">It is a long established fact that a reader</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander <small
                                                        class="float-right">06:08PM</small></span>
                                                <span class="message">Richard McClintock, a Latin professor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <section class="content">
            <div class="body_scroll">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>Image Gallery</h2>
                            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                                    class="zmdi zmdi-sort-amount-desc"></i></button>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                                    class="zmdi zmdi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                        Add Images
                    </button>

                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Gallery</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-3" id="newcourse">
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Upload File</label>
                                        <input type="file" class="form-control" id="gallery"
                                            placeholder="Course Category">
                                        <label for="name" class="fw-medium fg-grey">Youtube Link</label>
                                        <input type="text" class="form-control" id="link" placeholder="Youtube Link">
                                    </div>
                                    <div class="form-group mt-4">
                                        <a href="#" class="btn btn-outline-primary rounded-pill"
                                            id="submitgallery">Submit</a>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="body">
                                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">

                                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/2.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/2.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/3.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/3.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/4.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/4.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/5.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/5.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/6.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/6.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/7.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/7.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/8.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/8.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/9.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/9.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/10.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/10.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/11.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/11.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/12.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/12.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/13.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/13.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/14.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/14.jpg" alt=""> </a> </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-30"> <a
                                                href="assets/images/image-gallery/15.jpg"> <img
                                                    class="img-fluid img-thumbnail"
                                                    src="assets/images/image-gallery/15.jpg" alt=""> </a> </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Jquery Core Js -->
        <script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
        <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

        <script src="assets/plugins/light-gallery/js/lightgallery-all.min.js"></script> <!-- Light Gallery Plugin Js -->

        <script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
        <script src="assets/js/pages/medias/image-gallery.js"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase.js"></script>
        <script src="/assets/js/custom/firebase.js"></script>

        <script src="/assets/js/custom/gallery.js"></script>

</body>
<script>
    var userid = localStorage.getItem("userid")
    if (userid == undefined) {
        window.location.replace("/")
    }
</script>

</html>