﻿<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>Admin</title>
    <!-- Favicon-->
    <link rel="icon" href="./alpha.ico.png" type="image/x-icon">
    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assets/css/style.min.css">

    <link rel="stylesheet" href="/assets/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/assets/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/assets/js/log/toaster.js"></script>
</head>

<body class="theme-blush">

    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="card auth_form">
                        <div class="header">
                            <img class="logo" src="/assets/images/cmc_logo.png" alt="">
                            <h5>Log in</h5>
                        </div>
                        <div class="body">
                            <input type="email" id="email" class="form-control" placeholder="Enter Your Email">
                            <input type="password" id="password" class="form-control mt-3" placeholder="Enter Your Password">
                            
                            <button class="btn btn-primary btn-block waves-effect waves-light mt-3" id="sigin"><i
                                    class="fa fa-google mr-2" aria-hidden="true"></i>SIGN IN</button>

                        </div>
                    </div>
                    <div class="copyright text-center">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>,
                        <span>Designed by <a href="https://www.commercialtradingpoint.com/" target="_blank">Commercial Trading Point</a></span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="assets/images/signin.svg" alt="Sign In" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase.js"></script>
    <script src="/assets/js/custom/firebase.js"></script>
    <script src="/assets/js/custom/sigin.js"></script>
    <script src="/assets/js/custom/brochur.js"></script>

</body>

</html>