<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Courses</title>
    <link rel="icon" href="alpha.ico.png" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="assets/plugins/charts-c3/plugin.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/plugins/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="/assets/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/assets/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/assets/js/log/toaster.js"></script>
    <link rel="stylesheet" href="/assets/css/simplePagination.css">
    <link rel="stylesheet" href="/public/admin/css/plugin.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">


</head>
<style>
    iframe {
        height: 171px;
    }
</style>
<style>
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 18px;
        background: #f4f4f4;
    }

    .list-wrapper {
        padding: 15px;
        overflow: hidden;
    }

    .list-item {
        border: 1px solid #EEE;
        background: #FFF;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

    .list-item h4 {
        color: #FF7182;
        font-size: 18px;
        margin: 0 0 5px;
    }

    .list-item p {
        margin: 0;
    }

    .simple-pagination ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .simple-pagination li {
        display: inline-block;
        margin-right: 5px;
    }

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

    .simple-pagination .current {
        color: #FFF;
        background-color: #FF7182;
        border-color: #FF7182;
    }

    .simple-pagination .prev.current,
    .simple-pagination .next.current {
        background: #e04e60;
    }

    .bootstrap-select>.dropdown-toggle {
        display: none;
    }
</style>

<body class="theme-blush">

    <!-- Page Loader -->
    <!-- <div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
        <p>Please wait...</p>
    </div>
</div> -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


    <%- include("common/sidebar.ejs"); -%>

        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs sm">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i
                            class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i
                            class="zmdi zmdi-comments"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="setting">
                    <div class="slim_scroll">
                        <div class="card">
                            <h6>Theme Option</h6>
                            <div class="light_dark">
                                <div class="radio">
                                    <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                    <label for="lighttheme">Light Mode</label>
                                </div>
                                <div class="radio mb-0">
                                    <input type="radio" name="radio1" id="darktheme" value="dark">
                                    <label for="darktheme">Dark Mode</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Color Skins</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                </li>
                                <li data-theme="blush" class="active">
                                    <div class="blush"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox rtl_support">
                                        <input id="checkbox1" type="checkbox" value="rtl_view">
                                        <label for="checkbox1">RTL Version</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox ms_bar">
                                        <input id="checkbox2" type="checkbox" value="mini_active">
                                        <label for="checkbox2">Mini Sidebar</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3">Notifications</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">Auto Updates</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">Offline</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked="">
                                        <label for="checkbox6">Location Permission</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane right_chat" id="chat">
                    <div class="slim_scroll">
                        <div class="card">
                            <ul class="list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Sophia <small
                                                        class="float-right">11:00AM</small></span>
                                                <span class="message">There are many variations of passages of Lorem
                                                    Ipsum
                                                    available</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Grayson <small
                                                        class="float-right">11:30AM</small></span>
                                                <span class="message">All the Lorem Ipsum generators on the</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella <small
                                                        class="float-right">11:31AM</small></span>
                                                <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="me">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">John <small
                                                        class="float-right">05:00PM</small></span>
                                                <span class="message">It is a long established fact that a reader</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander <small
                                                        class="float-right">06:08PM</small></span>
                                                <span class="message">Richard McClintock, a Latin professor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>


        <!-- Main Content -->

        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home"><i class="zmdi zmdi-home"></i> CMC</a>
                            </li>
                            <li class="breadcrumb-item active">New Course</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                                class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                                class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">



                <div class="body">
                    <div class="table-responsive">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#exampleModal">
                                New Course
                            </button>
                        </div>
                        <table class="table m-b-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Batch</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Fees</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="newcourse" class="newcourse">
                            </tbody>
                        </table>
                        <p style="font-weight: bold;text-align: center;" id="coursenoti">No Courses Available</p>
                        <div style="float: right;" id="pagination-containerf1"></div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 130%;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Course</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 class="fw-normal">Create a course</h3>
                                <form class="mt-3" id="newcourse">
                                   
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Category</label>
                                        <input type="text" class="form-control" id="category"
                                            placeholder="Course Category">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Title</label>
                                        <input type="text" class="form-control" id="title" placeholder="Example: TASCO">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Image</label>
                                        <input type="file" class="form-control" id="thumb">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Sub Heading</label>
                                        <input type="text" class="form-control" id="subheading"
                                            placeholder="Example:Training for Oil Tankers Cargo Operation">
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Start Date</label>
                                        <input type="date" class="form-control" id="startdate" placeholder="">
                                    </div> -->
                                    <table class="table mb-0 table-borderless">
                                        <thead>
                                            <tr class="item-row">
                                                <th>Batch</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>No Of Candidates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="hiderow">
                                                <td colspan="4">
                                                    <a id="addRow" href="javascript:;" title="Add a row"
                                                        class="btn btn-primary">Add
                                                        a
                                                        row</a>
                                                </td>
                                            </tr>
                                            <tr class="item-row">
                                                <td class="item-name">
                                                    <div class="delete-btn"><input type="number"
                                                            class="form-control batch" placeholder="Batch" id="batch"><a
                                                            class=' + $.opt.delete.substring(1) + ' href="javascript:;"
                                                            title="Remove row"></a></div>
                                                </td>
                                                <td><input class="form-control date" id="date" placeholder="date"
                                                        type="date">
                                                </td>
                                                <td><input class="form-control time" id="time" placeholder="Time"
                                                        type="time">
                                                </td>
                                                <td><input class="form-control noof" id="noof"
                                                        placeholder="No Of Candidates" type="number">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="nocourse" class="form-label">Duration </label>
                                            <input type="text" class="form-control" id="duration"
                                                placeholder="Example: 12">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="noass" class="form-label">Mode </label>
                                            <input type="text" class="form-control" id="mode"
                                                placeholder="Example: Online">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Regular Fees</label>
                                        <input type="text" class="form-control" id="rfees" placeholder="Course Fees">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Offer Fees</label>
                                        <input type="text" class="form-control" id="ofees" placeholder="Course Fees">
                                    </div>

                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Eligibility</label>
                                        <textarea type="text" class="form-control" id="eligibility"
                                            placeholder="Course Eligibility"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Documents Required</label>
                                        <textarea type="text" class="form-control" id="documents"
                                            placeholder="Course Required Documents"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="message" class="fw-medium fg-grey">Description</label>
                                        <textarea type="message" class="form-control" id="description"
                                            placeholder="Course Description"></textarea>
                                    </div>


                                    <!-- <div class="form-group">
                                    <label for="name" class="fw-medium fg-grey">Status</label>
                                    <label><input type="radio" value="Free" name="pay">Free</label>
                                    <label><input type="radio" value="Paid" name="pay">Paid</label>
                                </div> -->
                                    <div class="form-group mt-4">
                                        <a href="#" class="btn btn-outline-primary rounded-pill"
                                            id="newcoursebtn">Submit</a>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModaledit" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Course</h5>
                                <button type="button" class="close" onclick="closebtn()" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 class="fw-normal">Edit a course</h3>
                                <form class="mt-3" id="newcourse">


                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Category</label>
                                        <input type="text" class="form-control" id="ucategory"
                                            placeholder="Course Category">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Title</label>
                                        <input type="text" class="form-control" id="utitle"
                                            placeholder="Example: TASCO">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Sub Heading</label>
                                        <input type="text" class="form-control" id="usubheading"
                                            placeholder="Example:Training for Oil Tankers Cargo Operation">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Image</label>
                                        <input type="file" class="form-control" id="uthumb">
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Start Date</label>
                                        <div id="startdatediv">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course Start Time</label>
                                        <div id="starttimediv">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="fw-medium fg-grey">Course No of Candidates</label>
                                        <div id="startnoofdiv">
        
                                        </div>
                                    </div>
                            </div>
                            

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="nocourse" class="form-label">Duration</label>
                                    <input type="text" class="form-control" id="uduration" placeholder="Example: 12">
                                </div>
                                <div class="col-md-6">
                                    <label for="noass" class="form-label">Mode </label>
                                    <input type="text" class="form-control" id="umode" placeholder="Example: Online">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="fw-medium fg-grey">Regular Fees</label>
                                <input type="text" class="form-control" id="urfees" placeholder="Course Fees">
                            </div>
                            <div class="form-group">
                                <label for="name" class="fw-medium fg-grey">Offer Fees</label>
                                <input type="text" class="form-control" id="uofees" placeholder="Course Fees">
                            </div>

                            <div class="form-group">
                                <label for="name" class="fw-medium fg-grey">Eligibility</label>
                                <input type="text" class="form-control" id="ueligibility"
                                    placeholder="Course Eligibility">
                            </div>
                            <div class="form-group">
                                <label for="name" class="fw-medium fg-grey">Documents Required</label>
                                <input type="text" class="form-control" id="udocuments"
                                    placeholder="Course Required Documents">
                            </div>
                            <div class="form-group">
                                <label for="message" class="fw-medium fg-grey">Description</label>
                                <input type="message" class="form-control" id="udescription"
                                    placeholder="Course Description">
                            </div>


                            <!-- <div class="form-group">
                                    <label for="name" class="fw-medium fg-grey">Status</label>
                                    <label><input type="radio" value="Free" name="pay">Free</label>
                                    <label><input type="radio" value="Paid" name="pay">Paid</label>
                                </div> -->
                            <div class="form-group mt-4">
                                <a href="#" class="btn btn-outline-primary rounded-pill" id="newcoursebtnu">Submit</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <!-- Jquery Core Js -->
        <script src="assets/bundles/libscripts.bundle.js"></script>
        <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
        <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

        <script src="assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="assets/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
        <script src="assets/bundles/c3.bundle.js"></script>

        <script src="assets/bundles/mainscripts.bundle.js"></script>
        <script src="assets/js/pages/index.js"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase.js"></script>
        <script src="/assets/js/custom/jquerydate.js"></script>
        <script src="/assets/js/custom/firebase.js"></script>
        <script src="./js/jquery-3.5.1.min.js"></script>
        <script src="/assets/js/custom/jquery.simplePagination.js"></script>
        <script src="/assets/js/custom/newcourse.js"></script>
        <script src="/js/verify.js"></script>
</body>
<script>
    jQuery(document).ready(function () {
        jQuery().invoice({
            addRow: "#addRow",
            delete: ".delete",
            parentClass: ".item-row",
            batch: ".batch",
            date: ".date",
            time: ".time",
            noof: ".noof"
        });
    });
</script>
<script>
    var userid = localStorage.getItem("userid")
    if (userid == undefined) {
        window.location.replace("/")
    }
    closebtn=()=>{
        window.location.reload()
    }
</script>

</html>