<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="/home" style="width: auto;" ><img id="userpic" src="assets/images/cmc_logo.png" width="50" alt="Aero"><span class="m-l-10"></span></a>
        <a class="detail" style="width: auto;">
            <small id="username" >Welcome</small>
        </a>
    </div>
    <div class="menu" id="admin" style="height: 90%;
    overflow-y: scroll;">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="/home"><img src="assets/images/cmc_logo.png" alt="User"></a>
                    <div class="detail">
                        <h4>CMC</h4>
                        <small>Admin Panel</small>
                    </div>
                </div>
            </li>
            <li><a href="/home"><i class="zmdi zmdi-view-dashboard"></i><span>Dashboard</span></a></li>
            <li><a href="/courses"><i class="zmdi zmdi-folder"></i><span>Course Management</span></a></li>
            <li><a href="/category"><i class="zmdi zmdi-file"></i><span>Course Category</span></a></li>
            <li><a href="/faculty"><i class="zmdi zmdi-account"></i><span>Faculty Management</span></a></li>
            <li><a href="/users"><i class="zmdi zmdi-accounts"></i><span>Student Management</span></a></li>
            <li><a href="/brochure"><i class="zmdi zmdi-file"></i><span>Brochure</span></a></li>
            <li><a href="/announcement"><i class="zmdi zmdi-mic"></i><span>Announcement</span></a></li>
            <li><a href="/addadmin"><i class="zmdi zmdi-accounts-alt"></i><span>Admin Profile</span></a></li>
            <li><a href="/add"><i class="zmdi zmdi-accounts-add"></i><span>Accountant Profile</span></a></li>
            <li><a href="/discount"><i class="zmdi zmdi-trending-up"></i><span>Discount</span></a></li>
            <li><a href="/purchasehistory"><i class="zmdi zmdi-money-box"></i><span>Booking History</span></a></li>
            <li><a href="/acccompltedcoursehistory"><i class="zmdi zmdi-folder-star"></i><span>Completed
                Course</span></a></li>
            <li><a href="/pendingapplication"><i class="zmdi zmdi-library"></i><span>Pending Application</span></a></li>
            <li><a href="/gallery"><i class="zmdi zmdi-collection-image"></i><span>Gallery</span></a></li>
            <li><a href="/certificateupload"><i class="zmdi zmdi-file-plus"></i><span>Certificateupload</span></a></li>
            <li><a href="/timetable"><i class="zmdi zmdi-file-text"></i><span>Timetable</span></a></li>
            <li><a href="/feedback"><i class="zmdi zmdi-comments"></i><span>Feedback</span></a></li>
            <li><a href="/testimonial"><i class="zmdi zmdi-comments"></i><span>Testimonial</span></a></li>
            <li><a href="/enquiry"><i class="zmdi zmdi-comment"></i><span>Enquire</span></a></li>

            <li onclick="logout()"><a href="#"><i class="zmdi zmdi-layers-off"></i><span>Logout</span></a></li>
        </ul>

    </div>
    <div class="menu" id="accounting" style="height: 90%;
    overflow-y: scroll;">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="/acchome"><img src="assets/images/cmc_logo.png" alt="User"></a>
                    <div class="detail">
                        <h4>CMC</h4>
                        <small>Accountant Panel</small>
                    </div>
                </div>
            </li>
            <li><a href="/acchome"><i class="zmdi zmdi-view-dashboard"></i><span>Dashboard</span></a></li>
            <li><a href="/accusers"><i class="zmdi zmdi-accounts"></i><span>Students</span></a></li>
            <li><a href="/accpendingusers"><i class="zmdi zmdi-library"></i><span>Pending Application</span></a>
            </li>
            <li><a href="/purchasehistory"><i class="zmdi zmdi-money-box"></i><span>Booking History</span></a></li>
            <li><a href="/acccompltedcoursehistory"><i class="zmdi zmdi-folder-star"></i><span>Completed
                        Course</span></a></li>
            <li><a href="/accupcommingcoursehistory"><i class="zmdi zmdi-file-plus"></i><span>Upcomming
                        Course</span></a></li>
            <li onclick="logout()"><a href="#"><i class="zmdi zmdi-layers-off"></i><span>Logout</span></a></li>
        </ul>
    </div>
</aside>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase.js"></script>
<script src="/assets/js/custom/firebase.js"></script>
<script>
    function logout() {
        localStorage.removeItem("userid")
        window.location.replace("/")
    }
    var role = localStorage.getItem("role")
    if (role == undefined) {
        window.location.replace("/")
    }
    if (role == "admin") {
        document.getElementById("admin").style.display = "block"
        document.getElementById("accounting").style.display = "none"
    } else {
        document.getElementById("accounting").style.display = "block"
        document.getElementById("admin").style.display = "none"
    }
    var db=firebase.firestore()
    db.collection("admin").get().then((snap)=>{
        snap.forEach((doc)=>{
            if(doc.data()!=undefined){
                if(doc.data().userid==localStorage.getItem("userid")){
                    document.getElementById("username").innerHTML=doc.data().name
                    document.getElementById("userpic").src=doc.data().profile
                }
            }
        })
    })
</script>